@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

header {
  height: 12vh;
  width: 100vw;
}

#upperNavbar {
  width: 100%;
  height: 100%;
  background-color: #007F5F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid #2B9348;
}

#leftNavbar {
  width: 15vw;
  height: 100vh;
  background-color: #007F5F;
  border-right: 3px solid #2B9348;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

ul li {
  list-style: none;
}

.bt {
  background: none;
  background-color: #80B918;
  border: none;
  width: 12vw;
  height: 50px;
  border-radius: 12px;
  color: rgb(35, 81, 0);
  font-weight: bold;
  font-size: 19px;
  transition: all 0.2s ease-in-out;
}

.bt:hover {
  background-color: #AACC00;
  color: black;
  scale: 1.1;
  cursor: pointer;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #c1d2006a;
}

.frotaMain {
  width: 100%;
  height: 100%;
  padding: 30px;
}

#criarFrotaCard {
  width: 40%;
  height: 40%;
  border-radius: 12px;
  background-color: #d3d70063;
  -webkit-box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.29);
}

.cardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 60%;
}

input {
  width: 80%;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #999999;
}

.border {
  width: 0%;
  border-bottom: 1px solid black;
  transition: all 0.2s ease-in-out;
}



input:focus + .border {
  width: 80%;
  border-bottom: 1px solid black;
}

.cardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}