@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
}

header {
  height: 12vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

#upperNavbar {
  width: 100%;
  height: 100%;
  background-color: #007f5f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid #2b9348;
}

.leftNavbar {
  width: 15vw;
  height: 100vh;
  background-color: #007f5f;
  border-right: 3px solid #2b9348;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

ul li {
  list-style: none;
}

.navBt {
  color: white;
  background: none;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 19px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navBt:hover {
  box-shadow: inset 220px 1px 9px #aacc00;
  scale: 1.02;
  cursor: pointer;
}

.cardBt {
  color: white;
  background: none;
  background-color: #80b918;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 19px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBt:hover {
  background-color: #aacc00;
  scale: 1.02;
  cursor: pointer;
}

.btClose {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: rgb(212, 17, 17);
  color: white;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btClose:hover {
  background-color: rgb(169, 3, 3);

  scale: 1.05;
  cursor: pointer;
}

main {
  display: flex;
  height: 90vh;
  background-color: #c1d2006a;
}

.frotaMain {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  position: relative;
}

.mainFrotaHeader {
  display: flex;
  position: absolute;
  left: 86%;
  top: 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

#criarFrotaCard {
  width: 40%;
  height: 40%;
  border-radius: 12px;
  background-color: #d3d70063;
  -webkit-box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.29);
}

.cardHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 60%;
}

input {
  width: 80%;
  transition: all 0.2s ease-in-out;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #999999;
}

.border {
  width: 0%;
  border-bottom: 1px solid black;
  transition: all 0.2s ease-in-out;
}

input:focus + .border {
  width: 80%;
  border-bottom: 1px solid black;
}

.cardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.model {
  display: none;
  visibility: hidden;
}
